# Create a cron rule and use wget or curl to periodically download the latest 
# version of this list. The list has no real update schedule. Recommended update
# interval is 7 days. After downloading the the list, run the hostconverter on
# the output to get the final result.
#
# Path to list: https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
#
hostacl "host.acl"

# Set up routing rules to intercept all outbound requests to port
# 80 and 443 from clients. Route the intercepted connection on port 80 to proxy 
# port 8080. Route intercepted requests on port 443 to proxy port 8443.
listen http ":8080"

# httpscert must also be set for this directive to work.
#listen https ":8443"

# To enable direct proxy access, uncomment the line below and point clients
# to the server's address and port 8008.
#listen proxy ":8008"

# To enable https interception, generate a private key and cert. Then, install 
# the generated root cert in all browser using the proxy. This will allow 
# the proxy to intercept and modify outbound https requests.
#httpscert "rootCACert.pem" "rootCAKey.key"
